<%- include("header") -%>

<h2> The To-Do List</h2>

<div style="background-color: rgba(58, 59, 60, 0.557); margin-left: 20%; margin-right: 20%;">
    <p style="margin-left: 20%; margin-right: 20%; color: white; font-weight: 500;">This site features a To Do List that you can add items to. You can add as many items as you wish, and you can cross them off the list using the check box on the left of each item.</p>

    <p style="margin-left: 20%; margin-right: 20%; color: white; font-weight: 500;">I hope that you will find this website helpful in keeping track of your daily tasks, work tasks, or even your life goals!</p>
</div>



<%- include("footer") -%>
